* {
  box-sizing: border-box;
  font-family: Rukit, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
}

@keyframes animateDown {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(3px);
  }
}
